/* Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background: radial-gradient(#111, #071a1a);
    color: #fff;
    overflow-x: hidden;
}

.formBody {
    background-image: none;
}

.formBox {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin-top: 120px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formInfo {
    color: #90a0b1;
}

.formTitle {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

.formHeader {
    color: #90a0b1;
    font-size: 24px;
    margin-bottom: 20px;
}

.formSection {
    width: 48%;
    float: left;
    padding-right: 2%;
}

.formSection:last-child {
    padding-right: 0;
}

input[type="text"],
input[type="number"] {
    border-radius: 5px;
    background-color: #f6f7fa;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    width: calc(100% - 20px);
    transition: background-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
    background-color: #fff;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    border: 2px solid #9db0a3;
    border-radius: 10px;
    background-color: #29a396;
    color: #fff;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #165f56;
}

#randomButton {
    border: 2px solid #9db0a3;
    border-radius: 10px;
    background-color: #29a396;
    color: #fff;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#randomButton:hover {
    background-color: #165f56;
}

.opacityFix {
    filter: opacity(70%);
}

.opacityFix:hover {
    filter: opacity(100%);
}

.navBtn {
    text-align: center;
    border: 2px solid #9db0a3;
    border-radius: 10px;
    background-color: rgba(50, 62, 80, 0.7);
    color: #f6f7fa;
    width: 130px;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    padding: 7px;
    filter: brightness(90%);
    box-shadow: 1px 1px 6px rgb(144, 159, 177);
    transition: filter 0.3s ease;
}

.navBtn:hover {
    filter: brightness(100%);
}

.homeBtn {
    text-align: center;
    border: 2px solid #9db0a3;
    border-radius: 10px;
    background-color: rgba(50, 62, 80, 0.7);
    color: #f6f7fa;
    width: 50px;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    padding: 7px;
    filter: brightness(90%);
    box-shadow: 1px 1px 6px rgb(144, 159, 177);
    transition: filter 0.3s ease;
}

.homeBtn:hover {
    filter: brightness(100%);
}

/* End Base */
